{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This site is created out of my own need. I'm fairly new to wingfoiling and I have been searching for a site that helps me find spots to sail. Mot of the sites out there are focused on kitesurfing and some of the attributes of a good spot are not the same when you use a foil.
    </p>
    <p>
        We also do down winders, pumping, wave surfing etc. (and more I still have to learn about)
    </p>
    <p>
        So here it is :-) I hope you find it useful and wil support it by addeding spots and letting others know when you are on the water
    </p>
    <p><a class="btn btn-primary" href=" {% url 'register' %}">Register</a> and join the community.</p>
{% endblock content %}